<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SignIn</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'pro/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

    <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Login</h1>
    <form method="POST">
        {% csrf_token %}
        {% include 'pro/form-template.html'%}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="Submit" class="btn btn-success">Submit</button>
            </div>
        </div>
     </form><br><br><br><br><br><br>
     <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <a href="{% url 'signup' %}">Sign Up</a>
            </div>
        </div>
     
    
    
</body>
</html>